.page__container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.content__container {
  width: 100%;
  height: 70vh;
  margin: 84px 49px 95px 45px;
}

.form__container {
  display: flex;
  align-items: center;
}

.form__warning_description {
  margin-left: 80px;
  margin-bottom: 110px;
  & > h3 {
    font-size: 18px;
    font-weight: bold;
  }
  & > p {
    font-size: 14px;
    font-style: italic;
  }
}