body{
    background: #F8F8F8 0% 0% no-repeat padding-box;
}

.eventList{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/

    margin-top: 25px;
    margin-left: 137px;
    margin-right: 137px;
}

.eventList >div{
    margin-bottom: 25px;
}