.dark_button {
  background-color: #2B2D2F;
  color: #f3f3f3;
  border: none;
  height: 60px;
  width: 245px;
  border-radius: 25px;
  font-size: 18px;
  margin-top: 50px;
  cursor: pointer;
}

.light_button {
  background-color: #f3f3f3;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #2B2D2F;
  height: 60px;
  width: 245px;
  border-radius: 25px;
  font-size: 18px;
  margin-top: 50px;
  cursor: pointer;
}